@import url("https://unpkg.com/@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.min.css");

.slds-truncate {
  overflow: visible;
}

.slds-global-header_container {
  position: relative !important;
}

.slds-global-header {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.slds-page-header {
  margin-top: 5px;
  margin-bottom: 15px;
}

.slds-page-header__detail-row {
  background-color: white !important;
  overflow: scroll;
}

/* .slds-context-bar {
  scrollbar-width: none;
  overflow: visible;
} */

.homepage {
  padding: 10px;
}

#tab-default {
  background-color: transparent;
  padding: 5px;
}

.slds-show {
  background-color: transparent !important;
}

.slds-tabs_default__nav {
  border: none !important;
  background-color: #fff !important;
  padding-top: 15px;
}

.slds-tabs_default__content {
  margin-top: 20px;
}

.slds-section {
  margin: 0 !important;
}

.slds-section__title-action {
  background: none !important;
  padding: 0 !important;
}

.slds-table_header-hidden {
  background-color: white;
  z-index: 10 !important;
  position: relative;
}

.slds-table_header-hidden td div {
  font-weight: bold !important;
  /* width: 205px; */
}

.slds-table_header-fixed_scroller {
  overflow: auto !important;
}

.slds-table_header-fixed_scroller {
  background-color: white !important;
}

.slds-has-focus {
  box-shadow: none !important;
}

.slds-button:active {
  border: none !important;
}

.slds-table tbody td {
  vertical-align: top !important;
}

.slds-table tbody th {
  padding-top: 0 !important;
}

.recharts-cartesian-grid-vertical {
  display: none !important;
}

.barLabel {
  text-align: center;
}

.titleLabel {
  text-align: left;
  font-weight: bold;
  margin: 10px 0px 20px 20px !important;
}

.slds-grid a {
  color: inherit !important;
  margin-top: 3px;
}
.slds-grid li {
  padding: 5px;
}

a {
  text-decoration: none !important;
}

.row1_overview {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row2_overview {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slds-input {
  text-align: center !important;
  padding: 0 210px 0 210px !important;
}

.slds-input::placeholder {
  color: #135a99 !important;
}

.slds-input__icon {
  right: 21rem !important;
  fill: #1e6bae !important;
}

.slds-context-bar__item .slds-dropdown {
  left: 0% !important;
  min-width: 15rem !important;
}

.slds-brand-band {
  background: url("./assets/images/banner-brand-default.png");
  background-position: center;
  background-size: auto;
  height: 100vh;
}

.greenBold {
  color: green;
}

.redBold {
  color: red;
}

@media screen and (max-width: 986px) {
  .slds-global-header {
    display: none !important;
  }
}
